---
import Layout from "@/layout/Layout.astro";

import { PREICOJURIDICOS } from "@/constants/const";
import Banner from "@/components/Banner.astro";
import VideoSection from "@/components/VideoSection.astro";
import raulImage from "@/assets/images/home-header-landscape-left-raul.png";

const title = `${PREICOJURIDICOS}`;
---

<Layout title={title}>
  <section class="flex flex-col gap-6">
    <Banner
      image={{ src: raulImage, alt: "Raul Castañeda" }}
      quoteColor="text-primary"
      preTitle="LA"
      title="REVOLUCIÓN CONTRA LAS INJUSTICIAS"
    />

    <VideoSection
      quoteText="Esto es la revolución contra las injusticias"
      quoteColor="text-primary"
      videoUrl="https://www.youtube.com/embed/kXajmZhEoqI?si=56TTFc-Yj1lfciuv"
    />
  </section></Layout
>
