---
import Layout from "@/layout/Layout.astro";

// import Description from "@/modules/aboutMe/description/Description.astro";
// import Hero from "@/modules/aboutMe/Hero/Hero.astro";

// import preicojuridicos from "@/assets/icons/coin.astro";

import { PREICOJURIDICOS } from "@/constants/const";

const title = `${PREICOJURIDICOS}`;
---

<Layout title={title}>
  <section class="flex flex-col gap-6">
    <!-- <Hero />

    <Description /> -->
  </section>
</Layout>
