---

---

<footer>
  <section class="w-full py-16">
    <div
      class="max-w-6xl mx-auto grid gap-12
           grid-cols-1
           sm:grid-cols-2
           lg:grid-cols-4 px-6"
    >
      <div class="space-y-4">
        <h3 class="text-lg font-bold text-primary tracking-wide">
          PROFESIONALIDAD
        </h3>
        <p class="text-white leading-relaxed">
          Nuestra humildad y amplia experiencia nos distingue en la resolución
          de múltiples causas legales.
        </p>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg font-bold text-primary tracking-wide">
          REVOLUCIONARIOS
        </h3>
        <p class="text-white leading-relaxed">
          Otros despachos solicitan colaborar con nosotros.
        </p>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg font-bold text-primary tracking-wide">HONORARIOS</h3>
        <p class="text-white leading-relaxed">
          Nuestros honorarios son justos, competentes y asequibles y se adaptan
          a las necesidades y circunstancias de nuestros clientes.
        </p>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg font-bold text-primary tracking-wide">EFICACIA</h3>
        <p class="text-white leading-relaxed">
          Somos amantes de nuestra profesión con íntegra disposición al trabajo
          y a nuestros clientes.
        </p>
      </div>
    </div>
  </section>
</footer>
