---
import { Image } from "astro:assets";
import logoPreico from "../assets/images/logoPreico.png";
import spainMap from "../assets/images/spainMap.png";
---

<footer class="w-full py-16 max-w-7xl mx-auto flex flex-col gap-4">
  <section>
    <div
      class="grid gap-12
           grid-cols-1
           sm:grid-cols-2
           lg:grid-cols-4 px-6"
    >
      <div class="space-y-4">
        <h3 class="text-lg font-bold text-primary tracking-wide">
          PROFESIONALIDAD
        </h3>
        <p class="text-white leading-relaxed">
          Nuestra humildad y amplia experiencia nos distingue en la resolución
          de múltiples causas legales.
        </p>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg font-bold text-primary tracking-wide">
          REVOLUCIONARIOS
        </h3>
        <p class="text-white leading-relaxed">
          Otros despachos solicitan colaborar con nosotros.
        </p>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg font-bold text-primary tracking-wide">HONORARIOS</h3>
        <p class="text-white leading-relaxed">
          Nuestros honorarios son justos, competentes y asequibles y se adaptan
          a las necesidades y circunstancias de nuestros clientes.
        </p>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg font-bold text-primary tracking-wide">EFICACIA</h3>
        <p class="text-white leading-relaxed">
          Somos amantes de nuestra profesión con íntegra disposición al trabajo
          y a nuestros clientes.
        </p>
      </div>
    </div>
  </section>

  <section class="w-full py-4 border-t border-white/10 relative">
    <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-12 gap-12">
      <!-- Logo y redes sociales -->
      <div class="lg:col-span-3 flex flex-col items-center space-y-8">
        <Image src={logoPreico} alt="Preico Juridicos" class="w-48 h-auto" />

        <div
          class="grid grid-cols-6 gap-4
            justify-center justify-items-center margin-auto
            md:grid-cols-4"
        >
          <a
            href="https://www.instagram.com/el_gran_preicano"
            target="_blank"
            rel="noopener noreferrer"
            class="w-10 h-10 rounded-full border border-primary flex items-center justify-center text-white hover:bg-[#c5a572]/10 transition-colors"
          >
            <i class="fab fa-instagram text-xl"></i>
          </a>
          <a
            href="https://www.youtube.com/channel/UCyxoIfqo5OvBPst7yXyWKwg"
            target="_blank"
            rel="noopener noreferrer"
            class="w-10 h-10 rounded-full border border-primary flex items-center justify-center text-white hover:bg-[#c5a572]/10 transition-colors"
          >
            <i class="fab fa-youtube text-xl"></i>
          </a>
          <a
            href="https://web.facebook.com/profile.php?id=100039806090722#"
            target="_blank"
            rel="noopener noreferrer"
            class="w-10 h-10 rounded-full border border-primary flex items-center justify-center text-white hover:bg-[#c5a572]/10 transition-colors"
          >
            <i class="fab fa-facebook-f text-xl"></i>
          </a>
          <a
            href="https://x.com/preicojuridicos"
            target="_blank"
            rel="noopener noreferrer"
            class="w-10 h-10 rounded-full border border-primary flex items-center justify-center text-white hover:bg-[#c5a572]/10 transition-colors"
          >
            <i class="fab fa-twitter text-xl"></i>
          </a>

          <a
            href="https://www.tiktok.com/@elgranpreicano"
            target="_blank"
            rel="noopener noreferrer"
            class="w-10 h-10 rounded-full border border-primary flex items-center justify-center text-white hover:bg-[#c5a572]/10 transition-colors md:col-start-2"
          >
            <i class="fab fa-tiktok text-xl"></i>
          </a>

          <a
            href="https://www.twitch.tv/el_gran_preicano"
            target="_blank"
            rel="noopener noreferrer"
            class="w-10 h-10 rounded-full border border-primary flex items-center justify-center text-white hover:bg-[#c5a572]/10 transition-colors md:col-start-3"
          >
            <i class="fab fa-twitch text-xl"></i>
          </a>
        </div>
      </div>

      <!-- Horarios y enlaces a políticas-->
      <div class="flex flex-col gap-8 lg:col-span-4">
        <div class="flex flex-col gap-4 border-b border-white/20">
          <h3 class="text-primary font-bold text-xl tracking-wide">
            HORARIO TELEFÓNICO
          </h3>
          <div class="h-15 flex justify-between items-center text-white/90">
            <span>Lunes a Viernes</span>
            <span>9:00 a 17:45 h</span>
          </div>
        </div>

        <div class="space-y-4">
          <a href="#" class="flex justify-between items-center group">
            <span
              class="text-white/90 group-hover:text-[#c5a572] transition-colors"
              >Política de cookies y privacidad</span
            >
            <div
              class="w-8 h-8 rounded-full border border-white/30 flex items-center justify-center group-hover:border-[#c5a572] transition-colors"
            >
              <i
                class="fas fa-download text-white/70 group-hover:text-[#c5a572] text-xs"
              ></i>
            </div>
          </a>
          <a href="#" class="flex justify-between items-center group">
            <span
              class="text-white/90 group-hover:text-[#c5a572] transition-colors"
              >Aviso legal y protección de datos</span
            >
            <div
              class="w-8 h-8 rounded-full border border-white/30 flex items-center justify-center group-hover:border-[#c5a572] transition-colors"
            >
              <i
                class="fas fa-download text-white/70 group-hover:text-[#c5a572] text-xs"
              ></i>
            </div>
          </a>
          <a href="#" class="flex justify-between items-center group">
            <span
              class="text-white/90 group-hover:text-[#c5a572] transition-colors"
              >Política de desistimiento</span
            >
            <div
              class="w-8 h-8 rounded-full border border-white/30 flex items-center justify-center group-hover:border-[#c5a572] transition-colors"
            >
              <i
                class="fas fa-download text-white/70 group-hover:text-[#c5a572] text-xs"
              ></i>
            </div>
          </a>
        </div>
      </div>

      <!-- Contact -->
      <div class="flex flex-col gap-8 lg:col-span-5 relative">
        <div class="flex flex-col gap-4 border-b pb-2 border-white/20">
          <h3 class="text-primary font-bold text-xl tracking-wide">
            BARCELONA
          </h3>
          <p class="text-white/90 leading-relaxed">
            Carrer de Josep Pla, 101<br />
            Sant Martí, 08019 Barcelona
          </p>
        </div>

        <div>
          <p class="text-white/90 text-lg">
            Para ponerte en contacto <a
              href="#"
              class="text-primary hover:underline font-medium">haz clic aquí</a
            >
          </p>
        </div>

        <div class="space-y-4">
          <p class="text-white/90">Puedes llamarnos a nuestro teléfono fijo:</p>
          <div class="space-y-2">
            <a
              href="tel:675656565"
              class="flex items-center gap-3 text-white/90 hover:text-[#c5a572] transition-colors text-xl font-medium"
            >
              <i class="fas fa-phone text-primary transform -scale-x-100"></i>
              675 65 65 65
            </a>
            <a
              href="tel:931816451"
              class="flex items-center gap-3 text-white/90 hover:text-[#c5a572] transition-colors text-xl font-medium"
            >
              <i class="fas fa-phone text-primary transform -scale-x-100"></i>
              931 81 64 51
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Map Section -->
  <section class="relative flex w-full justify-end items-center mt-4">
    <Image
      src={spainMap}
      alt="Mapa de España"
      class="absolute right-0 top-1/2 -translate-y-1/2 pointer-events-none select-none w-32 h-32"
      width={128}
      height={128}
    />

    <p
      class="relative z-10 text-white font-bold text-lg text-right uppercase tracking-wider leading-tight select-text"
    >
      Prestamos nuestros servicios en toda España
    </p>
  </section>
</footer>
