---
interface Props {
  value: string;
  label: string;
}

const { value, label } = Astro.props;
---

<div
  class="bg-primary h-full w-full p-4 flex flex-col items-center justify-center text-center transition-transform hover:-translate-y-1"
>
  <span class="text-white font-bold text-3xl">{value}</span>
  <span class="text-white text-xl font-medium">{label}</span>
</div>
